.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #f1f5f9;
}
.website-logo {
  width: 150px;
  margin: 20px;
  margin-left: 40px;
}
